<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<false/>
	<key>Creator</key>
	<string>Platypus-4.4</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
		<string>scriv</string>
	</array>
	<key>DropTypes</key>
	<array>
		<string>****</string>
		<string>fold</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterParams</key>
	<array>
		<string>ruby</string>
	</array>
	<key>OutputType</key>
	<string>Droplet</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptInterpreter</key>
	<string>/usr/bin/env</string>
	<key>Secure</key>
	<false/>
</dict>
</plist>
